@page "/contacts"

<h2>Contactos de Emergencia</h2>
<hr style="border: none; background-color: rgba(0,0,0,.08); height: 1px; margin: 1rem 0;" />

<div class="row">
     <div class="col-md-6 text-truncate">

<RadzenCard Style="">
<div class="row">

    <div class="col-md-8 text-truncate">
        <RadzenBadge BadgeStyle="BadgeStyle.Danger" Text="01" Class="mr-1" />
        <RadzenBadge BadgeStyle="BadgeStyle.Primary" Text="Cruz Vermelha" />
    </div>

      <div class="col-md-4 text-right">
         <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="+255 21 325 297"/>
      </div>
   
</div>
<hr style="border: none; background-color: rgba(0,0,0,.08); height: 1px; margin: 1rem 0;" />
</RadzenCard>
</div>

  <div class="col-md-6 text-truncate">
<RadzenCard Style="">
<div class="row">

    <div class="col-md-8 text-truncate">
        <RadzenBadge BadgeStyle="BadgeStyle.Danger" Text="02" Class="mr-1" />
        <RadzenBadge BadgeStyle="BadgeStyle.Primary" Text="Bombeiros" />
    </div>

      <div class="col-md-4 text-right">
         <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="+255 21 322 222"/>
      </div>
   
</div>
<hr style="border: none; background-color: rgba(0,0,0,.08); height: 1px; margin: 1rem 0;" />
</RadzenCard>
</div>
</div>

<br/>

<div class="row">
     <div class="col-md-6 text-truncate">

        <RadzenCard>
<div class="row">

    <div class="col-md-8 text-truncate">
        <RadzenBadge BadgeStyle="BadgeStyle.Danger" Text="01" Class="mr-1" />
        <RadzenBadge BadgeStyle="BadgeStyle.Primary" Text="Policia" />
    </div>

      <div class="col-md-4 text-right">
         <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="P.I.C" />
      </div>
   
</div>
<hr style="border: none; background-color: rgba(0,0,0,.08); height: 1px; margin: 1rem 0;" />
<div class="d-flex flex-row align-items-center">
    <div>

         <div<b> P.I.C ------------- +258 21 322914</b></div>
         <div <b>&nbsp; &nbsp;  &nbsp;  &nbsp;                      +258 21 322914</b> </div>
          <div<b> &nbsp; &nbsp;  &nbsp;  &nbsp;                      +258 21 322914</b> </div>
       
   
        <div>Abuso de Menores ----------------- 116 </div>
        <div>Abuso de Menores ----------------- 112 </div>
       
    </div>
</div>
</RadzenCard>

</div>

  <div class="col-md-6 text-truncate">

<RadzenCard Style="">
<div class="row">

    <div class="col-md-8 text-truncate">
        <RadzenBadge BadgeStyle="BadgeStyle.Danger" Text="01" Class="mr-1" />
        <RadzenBadge BadgeStyle="BadgeStyle.Primary" Text="Hospital" />
    </div>

      <div class="col-md-4 text-right">
         <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="Contactos" />
      </div>
   
</div>
<hr style="border: none; background-color: rgba(0,0,0,.08); height: 1px; margin: 1rem 0;" />
<div class="d-flex flex-row align-items-center">

    <div>
         <div>H.C.M ----------------- <b>+258 21 325 002</b></div>
         <div>Banco de Socorros ----- <b>+258 21 325 009</b></div>
         <div>H.G. José Macamo ------ <b>+258 21 400 045/6</b></div>
         <div>H.G. da Machava ------- <b>+258 21 708 147</b></div>
         <div>Mavalane -------------- <b>+258 21 460 103/4</b></div>
    </div>
</div>
</RadzenCard>
</div>
</div>



@code {

}
