@page "/login"
@using Microsoft.AspNetCore.Identity;

    <div class="col-xl-8">
        <RadzenCard Style="width: 100%;">
            <h2 class="mb-4">Admin Login</h2>
            <RadzenTemplateForm Data=@("SimpleLogin") Action="10.82.3.83">
                <RadzenLogin AllowRegister="false" AllowResetPassword="false" Login=@(args => OnLogin(args, "Simple login")) />
            </RadzenTemplateForm>
        </RadzenCard>
    </div>


@code {

    string userName = "admin";
    string password = "admin";
    private string Username { get; set; }
    private string Password { get; set; }

   //System.DirectoryServices.AccountManagement.PrincipalContext pc = new System.DirectoryServices.AccountManagement.PrincipalContext(System.DirectoryServices.AccountManagement.ContextType.Domain, "localhost");
                
    void OnLogin(LoginArgs args, string name)
    {

        
  
    }

   
}
    